<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Convert coordinates</title>
    <style>
        #map, #wmap {
            height: 450px;
        }
    </style>
</head>
<body>
<div style="float: left; width:50%">
    <div>
        <nav class="navbar navbar-light bg-light">
  <span class="navbar-text">Konwerter koordynat
  </span></nav>
        <form style="padding: 10px" action="/" method="post">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Wprowadź koordynaty:</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" th:text="${@converter.originalCoordinates}"
                          rows="4" style="height: 250px"
                          type="text"
                          name="coordinates"></textarea>
            </div>
            <button class="btn btn-success">Konwertuj</button>
            <div class="form-check">
                <input class="form-check-input" id="defaultCheck1" name="order" type="checkbox" value="change">
                <label class="form-check-label" for="defaultCheck1">zamień kolejność lat/long</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="defaultCheck2" name="reverse" type="checkbox" value="true">
                <label class="form-check-label" for="defaultCheck2">odwróć kierunkowość geometrii</label>
            </div>
        </form>
    </div>

    <div style=" padding: 10px">
        <H5 th:text="${message}"></H5><br>
        <div class="shadow p-3 mb-5 bg-white rounded">
        <span th:text="${'Długość geometrii: '+@converter.length + 'm. Ilość punktów: '
        + @converter.cartopiaCoordinates.length}"></span>
        </div>
        <h5>Geometria w formacie WKT
            <input type="button" class="btn btn-success btn-xs" onclick="unblock('wkt')" value="pokaż">
            <input type="button" class="btn btn-success btn-xs" onclick="copyToClipboard('#wkt')"
                   value="kopiuj do schowka">
        </h5>
        <p style="display: none" id="wkt" th:text="${@converter.geometry}"></p>

        <h5>Geometria w formacie WGS 84
            <input type="button" class="btn btn-success btn-xs" onclick="unblock('wgs')" value="pokaż">
            <input type="button" class="btn btn-success btn-xs" onclick="copyToClipboard('#wgs')"
                   value="kopiuj do schowka">
        </h5>
        <p style="display: none" id="wgs" th:text="${@converter.wgsCoordinates}"></p>

        <h5>Geometria w formacie XML
            <input type="button" class="btn btn-success btn-xs" onclick="unblock('xml')" value="pokaż">
            <input type="button" class="btn btn-success btn-xs" onclick="copyToClipboard('#xml')"
                   value="kopiuj do schowka">
        </h5>
        <p style="display: none" id="xml" th:text="${@converter.xmlCoordinates}"></p>

        <h5>Geometria w formacie CoreDB
            <input type="button" class="btn btn-success btn-xs" onclick="unblock('codb')" value="pokaż">
            <input type="button" class="btn btn-success btn-xs" onclick="copyToClipboard('#codb')"
                   value="kopiuj do schowka">
        </h5>
        <p style="display: none" id="codb" th:text="${@converter.coreDBCoordinates}"></p>

        <h5>Koordynaty dla Cartopii
            <button type="button" class="btn btn-success btn-xs" onclick="unblock('cpp')">pokaż <span
                    class="badge badge-light"
                    th:text="${@converter.cartopiaCoordinates.length}"></span>
            </button>
        </h5>
        <div id="cpp" style="display: none">
            <div th:each="item : ${@converter.cartopiaCoordinates}">
                <p th:text="${item}"></p>
            </div>
        </div>
    </div>

</div>
<div style="float: left; width:50%">
    <div id="wmap"></div>
    <div id="map"></div>
</div>

<script th:inline="javascript">

    /*<![CDATA[*/

    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});

    var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
        maxZoom: 20
    });

    var latlngs =/*[[${@converter.lineOnMap}]]*/;
    var first_point = /*[[${@converter.lineOnMap.get(0)}]]*/;
    var last_point = /*[[${@converter.lineOnMap.get(@converter.lineOnMap.size() - 1)}]]*/;

    var map = L.map('map').addLayer(osm);
    var wmap = L.map('wmap').addLayer(Esri_WorldImagery);

    var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
    var wpolyline = L.polyline(latlngs, {color: 'red'}).addTo(wmap);

    var myIcon = L.icon({
        iconUrl: 'endIcon.png', iconSize: [33, 45],
        iconAnchor: [18, 44],
    });

    L.marker(first_point, {color: 'blue'}).addTo(map);
    L.marker(first_point, {color: 'blue'}).addTo(wmap);
    L.marker(last_point, {icon: myIcon}).addTo(map);
    L.marker(last_point, {icon: myIcon}).addTo(wmap);

    map.fitBounds(polyline.getBounds());
    wmap.fitBounds(wpolyline.getBounds());

    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }

    function unblock(element) {
        var x = document.getElementById(element);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    /*]]>*/
</script>
</body>
</html>