<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Convert coordinates</title>
</head>
<body>
<form style="padding: 10px" action="/" method="post">

    <h3>Wprowadź koordynaty:</h3>
    <textarea th:text="${@converter.getOriginalCoordinates()}" rows="4" style="width: 100%; height: 100px" type="text"
              name="coordinates"></textarea>
    <button>Konwertuj</button>
    <input name="order" type="checkbox" value="change"> zamień kolejność lat/long
</form>

<div style="padding: 10px">
    <H3 th:text="${message}"></H3>

    <p th:text="${'Długość geometrii: '+@converter.length + 'm.'}"></p>

    <h4>WKT </h4>
    <p th:text="${@converter.geometry}"></p>

    <h4>WGS 84</h4>
    <p th:text="${@converter.wgsCoordinates}"></p>

    <h4>Geometria XML</h4>
    <p th:text="${@converter.xmlCoordinates}"></p>

    <h4>Geometria CoreDB</h4>
    <p th:text="${@converter.coreDBCoordinates}"></p>

    <h4>Koordynaty dla Cartopii</h4>
    <div th:each="item : ${@converter.cartopiaCoordinates}">
        <p th:text="${item}"></p>
    </div>
</div>
</body>
</html>